@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

/* Voice Agents Animations */
@keyframes pulsate {
  0%,
  100% {
    opacity: 0.2;
    transform: scale(1);
  }
  50% {
    opacity: 0.4;
    transform: scale(1.1);
  }
}

.pulsate {
  animation: pulsate 2s ease-in-out infinite;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
}

.header_logo {
  width: 12%;
  min-width: 120px;
  margin: 0 0 auto;
}

.header_logo img {
  height: 36px !important;
  width: auto !important;
}

@media (max-width: 768px) {
  .header_logo {
    width: auto;
    min-width: unset;
  }

  .header_logo img {
    height: 28px !important;
  }
}
